In [ ]:
import numpy as np
import pandas as pd

# Introduction

Pandas is an open-source library that is built on top of NumPy library. It is a Python package that offers various data structures and operations for manipulating numerical data and time series. It is mainly popular for importing and analyzing data much easier. Pandas is fast and it has high-performance & productivity for users.

# Creating Objects

In [ ]:
# Pandas DataFrame
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']
df = pd.DataFrame(lst)
print(df)
#######################################################
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
df = pd.DataFrame(data)
print(df)
#######################################################
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
df = pd.DataFrame(data)
print(df[['Name', 'Age', 'Address']])

In [ ]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name")
 
# retrieving row by loc method
# first = data.loc["Avery Bradley"]
# second = data.loc["R.J. Hunter"]
# third = data.loc['Derrick Williams']
 
# print(first, "\n\n\n", third)

# age1=data.loc[20.0]
# print(age1)

# print(data.index)

# print(data["Age"])

# Explanation:
# The column named "Name" in the CSV file will be used as the index for the DataFrame instead of the default integer index (0, 1, 2, ...).
# This means that instead of the rows being identified by default numbers, they will be identified by the values in the "Name" column.

# The index_col parameter in pandas.read_csv() is used to specify which column in the CSV file should be used as the row labels (index) of the resulting DataFrame.


print(data.iloc[[1,2,3,4,5,6]])

In [ ]:
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from list
df = pd.DataFrame(dict)
 
# using isnull() function  
df.isnull()

In [ ]:
# DataFrame.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None)

import pandas as pd
import numpy as np

df = pd.DataFrame({'A': [1, np.nan, 3], 'B': [4, np.nan, 6]})

# Fill with a specific value
df.fillna(0)

# Fill with the column mean
df['A'].fillna(df['A'].mean(), inplace=True)

# Forward-fill (use the previous value to fill)
df.fillna(method='ffill')

# Backward-fill (use the next value to fill)
df.fillna(method='bfill')

In [ ]:
# DataFrame.replace(to_replace=None, value=None, inplace=False, limit=None, regex=False, method=None)

df = pd.DataFrame({'A': [1, -1, 3], 'B': [-1, 5, -1]})

# Replace all -1 values with 0
df.replace(-1, 0)

# Replace multiple values
# df.replace([-1, 3], 0)

# Replace with regex (e.g., replace any digit with 'X')
# df.replace(to_replace=r'\d', value='X', regex=True)

df

In [ ]:
# DataFrame.interpolate(method='linear', axis=0, inplace=False, limit=None, limit_direction='forward', limit_area=None, downcast=None)

df = pd.DataFrame({'A': [1, np.nan, 3, np.nan, 5]})

# Linear interpolation (default)
df.interpolate()

# Polynomial interpolation (quadratic)
df.interpolate(method='polynomial', order=2)

# Interpolation along rows (axis=1)
df.interpolate(axis=1)

In [ ]:
# importing pandas as pd
import pandas as pd
 
# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
df
# using dropna() function  
df.dropna(axis=0)

In [ ]:
# 1. iteritems()
# Purpose: Used to iterate over columns of a DataFrame as (column_name, column_data) pairs.
# Iterates Over: Columns.
# When to Use: When you need to work with or inspect the data column by column.


# . iterrows()
# Purpose: Used to iterate over rows of a DataFrame as (index, Series) pairs.
# Iterates Over: Rows.
# When to Use: When you need to access row-wise data but do not need maximum performance.


dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)
 
# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()
    
    
    
# itertuples()
# Purpose: Used to iterate over rows of a DataFrame as namedtuples.
# Iterates Over: Rows (like iterrows()), but as namedtuples.
# When to Use: When you need better performance while iterating through rows.
# Iterating over rows as namedtuples
for row in df.itertuples():
    print(row)

In [ ]:
# index()	Method returns index (row labels) of the DataFrame
# insert()	Method inserts a column into a DataFrame
# add()	Method returns addition of dataframe and other, element-wise (binary operator add)
# sub()	Method returns subtraction of dataframe and other, element-wise (binary operator sub)
# mul()	Method returns multiplication of dataframe and other, element-wise (binary operator mul)
# div()	Method returns floating division of dataframe and other, element-wise (binary operator truediv)
# unique()	Method extracts the unique values in the dataframe
# nunique()	Method returns count of the unique values in the dataframe
# value_counts()	Method counts the number of times each unique value occurs within the Series
# columns()	Method returns the column labels of the DataFrame
# axes()	Method returns a list representing the axes of the DataFrame
# isnull()	Method creates a Boolean Series for extracting rows with null values
# notnull()	Method creates a Boolean Series for extracting rows with non-null values
# between()	Method extracts rows where a column value falls in between a predefined range
# isin()	Method extracts rows from a DataFrame where a column value exists in a predefined collection
# dtypes()	Method returns a Series with the data type of each column. The result’s index is the original DataFrame’s columns
# astype()	Method converts the data types in a Series
# values()	Method returns a Numpy representation of the DataFrame i.e. only the values in the DataFrame will be returned, the axes labels will be removed
# sort_values()- Set1, Set2	Method sorts a data frame in Ascending or Descending order of passed Column
# sort_index()	Method sorts the values in a DataFrame based on their index positions or labels instead of their values but sometimes a data frame is made out of two or more data frames and hence later index can be changed using this method
# loc[]	Method retrieves rows based on index label
# iloc[]	Method retrieves rows based on index position
# ix[]	Method retrieves DataFrame rows based on either index label or index position. This method combines the best features of the .loc[] and .iloc[] methods
# rename()	Method is called on a DataFrame to change the names of the index labels or column names
# columns()	Method is an alternative attribute to change the coloumn name
# drop()	Method is used to delete rows or columns from a DataFrame
# pop()	Method is used to delete rows or columns from a DataFrame
# sample()	Method pulls out a random sample of rows or columns from a DataFrame
# nsmallest()	Method pulls out the rows with the smallest values in a column
# nlargest()	Method pulls out the rows with the largest values in a column
# shape()	Method returns a tuple representing the dimensionality of the DataFrame
# ndim()	Method returns an ‘int’ representing the number of axes / array dimensions.
# Returns 1 if Series, otherwise returns 2 if DataFrame
# dropna()	Method allows the user to analyze and drop Rows/Columns with Null values in different ways
# fillna()	Method manages and let the user replace NaN values with some value of their own
# rank()	Values in a Series can be ranked in order with this method
# query()	Method is an alternate string-based syntax for extracting a subset from a DataFrame
# copy()	Method creates an independent copy of a pandas object
# duplicated()	Method creates a Boolean Series and uses it to extract rows that have duplicate values
# drop_duplicates()	Method is an alternative option to identifying duplicate rows and removing them through filtering
# set_index()	Method sets the DataFrame index (row labels) using one or more existing columns
# reset_index()	Method resets index of a Data Frame. This method sets a list of integer ranging from 0 to length of data as index
# where()	Method is used to check a Data Frame for one or more condition and return the result accordingly. By default, the rows not satisfying the condition are filled with NaN value

In [ ]:
# importing pandas as pd
import pandas as pd

# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
		'degree': ["MBA", "BCA", "M.Tech", "MBA"],
		'score':[90, 40, 80, 98]}

df = pd.DataFrame(dict)

print(df)

#### Python Pandas Series
Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.).

In [ ]:
data = [1, 2, 3, 4]
ser = pd.Series(data)
print(ser)

data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data)
print(ser[2:7:2])

ser = pd.Series(data,index=[10,11,12,13,14,15,16,17,18,19,20,21,22])
print(ser[10])

df = pd.read_csv("nba.csv")  
ser = pd.Series(df['Name']) 
data = ser.head(10)
# data[3:6] # 6 excluded
# data.loc[3:6] # # 6 included
data.iloc[3:6] # 6 excluded

In [ ]:
# importing pandas module  
import pandas as pd  
 
# creating a series
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'f'])
 
# creating a series
data1 = pd.Series([1, 6, 4, np.nan], index=['a', 'b', 'd', 'f'])
 
print(data, "\n\n", data1)

# adding two series using
# .add
data.add(data1, fill_value=0) # nan consodered as 0

In [ ]:
# Python program using astype
# to convert a datatype of series
 
# importing pandas module  
import pandas as pd 
   
# reading csv file from url  
data = pd.read_csv("nba.csv") 
    
# dropping null value columns to avoid errors 
data.dropna(inplace = True) 
   
# storing dtype before converting 
before = data.dtypes 
   
# converting dtypes using astype 
data["Salary"]= data["Salary"].astype(int) 
data["Number"]= data["Number"].astype(str) 
   
# storing dtype after converting 
after = data.dtypes 
   
# printing to compare 
print("BEFORE CONVERSION\n", before, "\n") 
print("AFTER CONVERSION\n", after, "\n")

In [ ]:
# Python program converting
# a series into list
 
# importing pandas module  
import pandas as pd  
   
# importing regex module 
import re 
     
# making data frame  
data = pd.read_csv("nba.csv")  
     
# removing null values to avoid errors  
data.dropna(inplace = True)  
   
# storing dtype before operation 
dtype_before = type(data["Salary"]) 
   
# converting to list 
salary_list = data["Salary"].tolist() 
   
# storing dtype after operation 
dtype_after = type(salary_list) 
   
# printing dtype 
print("Data type before converting = {}\nData type after converting = {}"
      .format(dtype_before, dtype_after)) 
   
# displaying list 
salary_list

In [ ]:
# Binary operation methods on series:

# FUNCTION	DESCRIPTION
# add()	Method is used to add series or list like objects with same length to the caller series
# sub()	Method is used to subtract series or list like objects with same length from the caller series
# mul()	Method is used to multiply series or list like objects with same length with the caller series
# div()	Method is used to divide series or list like objects with same length by the caller series
# sum()	Returns the sum of the values for the requested axis
# prod()	Returns the product of the values for the requested axis
# mean()	Returns the mean of the values for the requested axis
# pow()	Method is used to put each element of passed series as exponential power of caller series and returned the results
# abs()	Method is used to get the absolute numeric value of each element in Series/DataFrame
# cov()	Method is used to find covariance of two series
 
# Pandas series method:

# FUNCTION	DESCRIPTION
# Series()	A pandas Series can be created with the Series() constructor method. This constructor method accepts a variety of inputs
# combine_first()	Method is used to combine two series into one
# count()	Returns number of non-NA/null observations in the Series
# size()	Returns the number of elements in the underlying data
# name()	Method allows to give a name to a Series object, i.e. to the column
# is_unique()	Method returns boolean if values in the object are unique
# idxmax()	Method to extract the index positions of the highest values in a Series
# idxmin()	Method to extract the index positions of the lowest values in a Series
# sort_values()	Method is called on a Series to sort the values in ascending or descending order
# sort_index()	Method is called on a pandas Series to sort it by the index instead of its values
# head()	Method is used to return a specified number of rows from the beginning of a Series. The method returns a brand new Series
# tail()	Method is used to return a specified number of rows from the end of a Series. The method returns a brand new Series
# le()	Used to compare every element of Caller series with passed series.It returns True for every element which is Less than or Equal to the element in passed series
# ne()	Used to compare every element of Caller series with passed series. It returns True for every element which is Not Equal to the element in passed series
# ge()	Used to compare every element of Caller series with passed series. It returns True for every element which is Greater than or Equal to the element in passed series
# eq()	Used to compare every element of Caller series with passed series. It returns True for every element which is Equal to the element in passed series
# gt()	Used to compare two series and return Boolean value for every respective element
# lt()	Used to compare two series and return Boolean value for every respective element
# clip()	Used to clip value below and above to passed Least and Max value
# clip_lower()	Used to clip values below a passed least value
# clip_upper()	Used to clip values above a passed maximum value
# astype()	Method is used to change data type of a series
# tolist()	Method is used to convert a series to list
# get()	Method is called on a Series to extract values from a Series. This is alternative syntax to the traditional bracket syntax
# unique()	Pandas unique() is used to see the unique values in a particular column
# nunique()	Pandas nunique() is used to get a count of unique values
# value_counts()	Method to count the number of the times each unique value occurs in a Series
# factorize()	Method helps to get the numeric representation of an array by identifying distinct values
# map()	Method to tie together the values from one object to another
# between()	Pandas between() method is used on series to check which values lie between first and second argument
# apply()	Method is called and feeded a Python function as an argument to use the function on every Series value. This method is helpful for executing custom operations that are not included in pandas or numpy

In [ ]:
# series with numpy linspace()
ser1 = pd.Series(np.linspace(3, 33, 3))
print(ser1)

# series with numpy linspace()
ser2 = pd.Series(np.linspace(1, 100, 10))
print("\n"	 , ser2)

# Viewing Data

Syntax: Dataframe.head(n=5)

Parameters: 
    
    n: integer value, number of rows to be returned
    
    Return type: Dataframe with top n rows 

    n (5 by default)

In [ ]:
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv") 
data_top = data.head(n=7)
data_bottom = data.tail(n=7)
# data_top
data_bottom

Pandas DataFrame describe()
Pandas describe() is used to view some basic statistical details like percentile, mean, std, etc. of a data frame or a series of numeric values. When this method is applied to a series of strings, it returns a different output which is shown in the examples below.

Syntax: DataFrame.describe(percentiles=None, include=None, exclude=None) 


Parameters: 


percentile: list like data type of numbers between 0-1 to return the respective percentile 

include: List of data types to be included while describing dataframe. Default is None 

exclude: List of data types to be Excluded while describing dataframe. Default is None 

Return type: Statistical summary of data frame.

In [ ]:
data = pd.read_csv('nba.csv')
print(data.describe())

In [ ]:
import pandas as pd
data = pd.read_csv('nba.csv')

# removing null values to avoid errors
data.dropna(inplace=True)

# percentile list
perc = [.20, .40, .60, .80]

# list of dtypes to include
include = ['object', 'float', 'int']

# calling describe method
desc = data.describe(percentiles=perc, include=include)

# display
desc

# percentiles
# Specifies custom percentiles (quartiles) for the summary statistics.
# By default, describe() computes the 25th, 50th, and 75th percentiles. With the percentiles parameter, you can include custom values.

In [ ]:
data = pd.read_csv("nba.csv")
data.dropna(inplace=True)
desc = data["Name"].describe()
desc

Syntax: Dataframe.to_numpy(dtype = None, copy = False) 


Parameters: 


dtype: Data type which we are passing like str. 
copy: [bool, default False] Ensures that the returned value is a not a view on another array.

Returns: numpy.ndarray

In [ ]:
df = pd.DataFrame(
    [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9],
     [10, 11, 12]],
    columns=['a', 'b', 'c'])
 
print(df)
# convert dataframe to numpy array
arr = df.to_numpy()
print('\nNumpy Array\n----------\n', arr)
print(type(arr))


arr = df[['a','b']].to_numpy()
print('\nNumpy Array\n----------\n', arr)

In [ ]:
data = pd.read_csv("nba.csv")
# data.dropna(inplace=True)
df = pd.DataFrame(data['Weight'].head())
print(df.to_numpy())

In [ ]:
data = pd.read_csv("nba.csv")  
     
data.dropna(inplace = True) 
  
# creating series form weight column 
gfg = pd.Series(data['Weight'].head()) 
  
# using to_numpy() function 
print(type(gfg.to_numpy()))
print(gfg.to_numpy(dtype ='float32'))

Pandas Series.as_matrix() function is used to convert the given series or dataframe object to Numpy-array representation.

Syntax: Series.as_matrix(columns=None)


Parameter : 

columns :  If None, return all columns, otherwise, returns specified columns.


Returns : values : ndarray

In [ ]:
sr = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio']) 
  
# Create the Index 
index_ = ['City 1', 'City 2', 'City 3', 'City 4', 'City 5']  
  
# set the index 
sr.index = index_ 
  
# Print the series 
print(sr) 

# result = sr.as_matrix() 
  
# # Print the result 
# print(result)

In [ ]:
# Creating the Series 
sr = pd.Series([11, 21, 8, 18, 65, 18, 32, 10, 5, 32, None]) 
  
# Create the Index 
# apply yearly frequency 
index_ = pd.date_range('2010-10-09 08:45', periods = 11, freq ='Y') 
  
# set the index 
sr.index = index_ 
  
# Print the series 
print(sr) 


# return numpy array representation 
# result = sr.as_matrix() 
  
# # Print the result 
# print(result)

# Selection

In [ ]:
# Import pandas package
import pandas as pd

# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
		'Age':[27, 24, 22, 32],
		'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
		'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)

# select two columns
print(df[['Name', 'Qualification']])

In [ ]:
# importing pandas module
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name" )

# dropping passed columns
data.drop(["Team", "Weight"], axis = 1, inplace = True)

# display
print(data)

In [ ]:
data = pd.read_csv("nba.csv", index_col ="Name")
 
# retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]
 
 
print(first, "\n\n\n", second)

In [ ]:
data = pd.read_csv("nba.csv", index_col ="Name" )

data.drop(["Jae Crowder", "John Holland", "R.J. Hunter",
                            "R.J. Hunter"], inplace = True)
 
# display
data

In [ ]:
# importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv('nba.csv')

# retrieving rows by loc method
row1 = data.iloc[[4, 5, 6, 7]]

# retrieving rows by loc method
row2 = data.iloc[4:8]

# comparing values
# row1 == row2

print(row1)

In [ ]:
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
df = pd.DataFrame(dict, index = [True, False, True, False])
  
# print(df)
print(df.loc[True]['name'])
# print(df.iloc[1])

In [ ]:
data = pd.read_csv("nba1.1.csv")
  
df = pd.DataFrame(data, index = [0, 1, 2, 3, 4, 5, 6,
                                 7, 8, 9, 10, 11, 12])
 
  
print(df[[True, False, True, False, True,
    False, True, False, True, False,
                True, False, True]])

In [ ]:
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["BCA", "BCA", "M.Tech", "BCA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe 
df = pd.DataFrame(dict)
  
# using a comparison operator for filtering of data
print(df['degree'] == 'BCA')


mask = df.index == 0
print(df[mask])

mask = df.index > 7
print(df[mask])

# Manipulating Data

In [ ]:
data = {'Name': ['Pandas', 'Geeks', 'for', 'Geeks'],
        'Height': [1, 2, 3, 4],
        'Qualification': ['A', 'B', 'C', 'D']}
df = pd.DataFrame(data)

# using a list
# address = ['NewYork', 'Chicago', 'Boston', 'Miami']
# df['Address'] = address

# By using DataFrame.assign() method
# df2 = df.assign(address = ['NewYork', 'Chicago', 'Boston', 'Miami'])
# print(df2)


# By using Dictionary
# address dictionary with names as keys & addresses as values
# address = {'Pandas': 'NewYork', 'Geeks': 'Chicago', 
        #    'for': 'Boston', 'Geeks_2': 'Miami'}
# Add the 'Address' column by mapping the 'Name' column
# to the address dictionary
# df['Address'] = df['Name'].map(address)
# print(df)

# new_columns = {'Age': [21, 22, 23, 24], 
#                'City': ['NY', 'LA', 'SF', 'DC']}
# df = df.assign(**new_columns)
# print(df)

In [ ]:
# DataFrame.insert(loc, column, value, allow_duplicates=False)
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

# Insert a new column 'C' at position 1
# df.insert(1, 'C', [10, 20, 30])
# print(df)

# Insert column 'A' again with duplicate name
df.insert(0, 'A', [7, 8, 9], allow_duplicates=True)
print(df)

In [ ]:
import pandas as pd

# dictionary containing Students data
data = {'Name': ['Pandas', 'Geeks', 'for', 'Geeks'],
        'Height': [1, 2, 3, 4],
        'Qualification': ['A', 'B', 'C', 'D']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# Using .loc[] to add a "Category" column 
# based on height condition
df.loc[df['Height'] >= 3, 'Category'] = 'Tall'
df.loc[df['Height'] < 3, 'Category'] = 'Short'

# Observe the result
print(df)

Python | Delete rows/columns from DataFrame using Pandas.drop()

Syntax: DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors=’raise’)


Parameters: 


labels: String or list of strings referring row or column name. 

axis: int or string value, 0 ‘index’ for Rows and 1 ‘columns’ for Columns. 

index or columns: Single label or list. index or columns are an alternative to axis and cannot be used together. 

level: Used to specify level in case data frame is having multiple level index. 

inplace: Makes changes in original Data Frame if True. 

errors: Ignores error if any value from the list doesn’t exists and drops rest of the values when errors = ‘ignore’   

Return type: Dataframe with dropped values

In [ ]:
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("nba.csv", index_col="Name")
print(data.head(5))

# axis =0 default
# data.drop(["Avery Bradley", "John Holland", "R.J. Hunter"], inplace = True)
 
data.drop(["Team", "Weight"], axis = 1, inplace = True)
print(data)

In [ ]:
df = pd.DataFrame({'Weight':[45, 88, 56, 15, 71], 
                   'Name':['Sam', 'Andrea', 'Alex', 'Robin', 'Kia'], 
                   'Age':[14, 25, 55, 8, 21]}) 
  
# Create the index 
index_ = pd.date_range('2010-10-09 08:45', periods = 5, freq ='H') 
  
# Set the index 
df.index = index_ 
  
# Print the DataFrame 
print(df)

# Now we will use DataFrame.truncate() function to truncate the entries before ‘2010-10-09 09:45:00’ and after ‘2010-10-09 11:45:00’ in the given dataframe.
result = df.truncate(before = '2010-10-09 09:45:00', after = '2010-10-09 11:45:00') 
print(result)

In [ ]:
df = pd.DataFrame({"A":[12, 4, 5, None, 1],  
                   "B":[7, 2, 54, 3, None],  
                   "C":[20, 16, 11, 3, 8],  
                   "D":[14, 3, None, 2, 6]})  
  
# Create the index 
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5'] 
  
# Set the index 
df.index = index_ 
  
# Print the DataFrame 
print(df) 

result = df.truncate(before = 'Row_3', after = 'Row_4') 
  
# Print the result 
print(result)

In [ ]:
# Import pandas as pd
import pandas as pd

# Creating the Series
sr = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio', 'Moscow'])

# Create the Datetime Index
didx = pd.date_range(start='2014-08-01 10:00', freq='W', 
                     periods=6, tz='Europe/Berlin') 

# Set the index
sr.index = didx

# Print the series
print(sr,end='\n\n')

# Truncate the Series to start after a specific time
sr_truncated = sr.truncate(before='2014-08-17 10:00:00+02:00')
print(sr_truncated)

In [ ]:
# importing pandas as pd
import pandas as pd

# Creating the Series
sr = pd.Series([19.5, 16.8, 22.78, 20.124, 18.1002])

# Print the series
sr=sr.truncate(before = 1, after = 3)
print(sr)

Pandas DataFrame :

isnull()
notnull()
dropna()
fillna()
replace()
interpolate()

In [ ]:
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
df = pd.DataFrame(dict).isnull()
df1 = pd.DataFrame(dict).notnull()
print(df,df1,sep='\n')

In [ ]:
data = pd.read_csv("employees.csv") 
# Creating a boolean series: True for NaN values
# bool_series = pd.isnull(data["Gender"]) 
# Filtering data and displaying rows where "Gender" is NaN
nan_gender_data = data[pd.isnull(data["Gender"])]
print(nan_gender_data)

#### Python | Pandas Dataframe.sort_values() | Set-1

Syntax: DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind=’quicksort’, na_position=’last’)


Note: Every parameter has some default values except the ‘by’ parameter.


Parameters: 


by: Single/List of column names to sort Data Frame by. 

axis: 0 or ‘index’ for rows and 1 or ‘columns’ for Column. 

ascending: Boolean value which sorts Data frame in ascending order if True. 

inplace: Boolean value. Makes the changes in passed data frame itself if True. 

kind: String which can have three inputs(‘quicksort’, ‘mergesort’ or ‘heapsort’) of algorithm used to sort data frame. 

na_position: Takes two string input ‘last’ or ‘first’ to set position of Null values. Default is ‘last’.

Return Type: 


Returns a sorted Data Frame with Same dimensions as of the function caller DataFrame.

In [ ]:
data = pd.read_csv("nba.csv")
data.sort_values("Name", axis=0, ascending=True,
                 inplace=True, na_position='last')
data.sort_values("Salary", axis=0, ascending=False,
                 inplace=True, na_position='last')
# display
data

#### Python | Pandas Dataframe.sort_values() | Set-2

DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind=’quicksort’, na_position=’last’)

In [214]:
data=pd.read_csv("nba.csv") 
  
#sorting data frame by Team and then By names 
data.sort_values(["Team", "Name"], axis=0, 
                 ascending=[True,False], inplace=True) 
  
#display 

data.sort_values(["Team", "Age", "Height"], axis=0, 
                 ascending=[False,True,False], 
inplace=True) 
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
377,Kelly Oubre Jr.,Washington Wizards,12.0,SF,20.0,6-7,205.0,Kansas,1920240.0
369,Bradley Beal,Washington Wizards,3.0,SG,22.0,6-5,207.0,Florida,5694674.0
378,Otto Porter Jr.,Washington Wizards,22.0,SF,23.0,6-8,198.0,Georgetown,4662960.0
371,Jarell Eddie,Washington Wizards,8.0,SG,24.0,6-7,218.0,Virginia Tech,561716.0
382,John Wall,Washington Wizards,2.0,PG,25.0,6-4,195.0,Kentucky,15851950.0
...,...,...,...,...,...,...,...,...,...
321,Tiago Splitter,Atlanta Hawks,11.0,C,31.0,6-11,245.0,NaN,9756250.0
320,Thabo Sefolosha,Atlanta Hawks,25.0,SF,32.0,6-7,220.0,NaN,4000000.0
314,Kyle Korver,Atlanta Hawks,26.0,SG,35.0,6-7,212.0,Creighton,5746479.0
311,Kirk Hinrich,Atlanta Hawks,12.0,SG,35.0,6-4,190.0,Kansas,2854940.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN